*{box-sizing: border-box;}
body{
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 12px;
    box-shadow:  0px 0px 5px black;
}
a{
    margin: 15px;
    color: black;
}
.p{
    margin-left: 10px;
}
