*{box-sizing: border-box;}
body{
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 5px;
    box-shadow:  0px 0px 5px black;
}
a{
    margin: 15px;
    color: black;
}
 header .p{
    color:black;
    font-size: 25px;
    font-weight: 400;
    margin-right: 600px;
    
}
 header .buttom{
    color: blue;
    padding: 10px;
    border: solid 1px blue;
    background-color: white;
    border-radius: 6px;
    margin-right: 10px;

}
lan{
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);

}
 main{
    
     max-width: 100%;
    margin:  auto 0;
     margin-top:40px;
     text-align: center;
 }
 button:hover{
     background-color:  blue;
     color: white;
 }
 p .class{
      max-width: 100%;
     
      margin-top: 0;
      margin-bottom: 16px;
      text-align: center;

      
 }
 .clas{
      display:  inline-block;

      justify-content: space-around;
      margin-left: 100px;
      margin-right: 4px;
      margin-bottom: 50px;
      text-align: center;
 }
 
 h4{
    margin: 0;
    margin-bottom: 10px;
}
 ul li{
     list-style-type: none;
     line-height: 20px;
 }
 .cla{
      margin: 10px;
      box-shadow:  0px 3px 5px black ;
      width: 300px;
      height: 300px;
      padding-bottom: 20px;

 }
 .g{
     color: gray;

 }

 .cl{
     padding: 3px;
     background-color:  white;

 }
 small{
      color: gray;
 }
 .bottom-1{
     color: white;
     background-color: blue;
     padding: 10px;
     border-radius: 5px;
     border: blue solid 1px;
 }
 .bottom-1:hover{
     border:  rgb(44, 44, 245);
     background-color: rgb(44, 44, 245);
 }
 .footer{
     display: flex;
     justify-content: space-around;
     margin-bottom: 50px;
     margin-top: 40px;
 }
 @media(max-width:700px){
     header{
         display: flex;
         flex-direction:  column;
          align-items: center;
          align-content:  space-around;

     }
 }
 @media(max-width:700px){
  .clas{
       display: flex;
       flex-direction:  column;
       align-items: center;
       align-content: space-around;
       max-width: 800px;
  }
 }
 @media(max-width:700px){
     .footer{
         display: flex;
        flex-wrap: wrap;
        align-content:  stretch;
     }
 }